<!doctype html>
<!--
  Material Design Lite
  Copyright 2015 Google Inc. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License
-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Moove | Real time tracking of cyclists</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="images/favicon.png">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/css/material.blue-red.min.css" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/custom.css">



    <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
    <style>
    body { margin:0; padding:0; }
    .map { position:absolute; top:0; bottom:0; width:100%; }
    .marker {
        color: #ff5252;
    }
    </style>



</head>

<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base bodyStyle">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <div id="headerLogo">
                    <a href="/"><img id="headerImage" src="/img/moove-logo.png"></a>
                </div>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="/about">About</a>
                </nav>
            </div>
        </header>


        <main class="mdl-layout__content">
            <div class="mdl-grid mainContent">
                <!-- boxed content here -->
                <div id='map_geo' class='map'></div>
            </div>
        </main>
        <footer class="mdl-mini-footer">
            <div class="mdl-mini-footer__left-section">
                <div class="mdl-logo">Made during the 2016 Summer of Tech Hackfest in Auckland</div>
                <ul class="mdl-mini-footer__link-list">
                    <li><a href="https://github.com/Moooove/moove">View the repo</a></li>
                </ul>
            </div>
        </footer>
        <script src="https://code.getmdl.io/1.2.0/material.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<script>

    jQuery(document).ready(function($) {
        runGetUserLocationsTimer();
        runUpdateLocationTimer();
    });
    var event_uuid = '{{event_uuid}}';
    var user_uuid = '{{user_uuid}}';
    L.mapbox.accessToken = 'pk.eyJ1IjoibW9vb292ZSIsImEiOiJjaXJzazc2N3owaXFkZmdtOGhsb3IwNGVoIn0.VVd0P45rI6kEfsT1TbxClg';
    var mapGeo = L.mapbox.map('map_geo', 'mapbox.streets').setView([-36.8433287, 174.75697], 17);
    var myLayer;
    mapGeo.scrollWheelZoom.disable();

    function runUpdateLocationTimer(){
        setInterval(function(){
              navigator.geolocation.getCurrentPosition(success, error);
        }, 1000)

        function success(position) {
            var lat  = position.coords.latitude;
            var long = position.coords.longitude;
            updateLocation(lat,long);
        };
        function error() {
            console.log('can\'t find location');
        };

        function updateLocation(lat,long){
            $.ajax({
                type: 'post',
                contentType: 'application/json',
                url: '/userLocation/update',
                data: JSON.stringify({
                    event_uuid: event_uuid,
                    user_uuid: user_uuid,
                    lat:lat,
                    long:long
                }),
                success: function(response) {
                    if (response.status == false){
                        console.log(response.msg)
                    } else {
                    }
                }
            })
        }
       
    }
    function runGetUserLocationsTimer(){
        setInterval(function(){
            $.ajax({
                type: 'post',
                contentType: 'application/json',
                url: '/userLocations',
                data: JSON.stringify({
                    event_uuid: event_uuid,
                }),
                success: function(response) {
                    if (response.status == false){
                        console.log(response.msg)
                    } else {
                        var locations = response.value.userLocations.map(function(obj){
                            var newObj = 
                            {
                                "type": "Feature",
                                "geometry": {
                                    "type": "Point",
                                    "coordinates": [obj.long, obj.lat]
                                },
                                "properties": {
                                "marker-color": "#ff5252"
                                }
                            }
                            return newObj;
                        });
                        if (myLayer !== undefined)
                            myLayer.clearLayers();
                        myLayer = L.mapbox.featureLayer().setGeoJSON(locations).addTo(mapGeo);
                    }
                }
            })
        }, 1000)
    } 
</script>

</body>

</html>
