<h2>Hello Express!!!</h2>
<<<<<<< Updated upstream
<h3>{{mongodb}}</h3>
=======
<h3>{{uuid}}</h3>
<a href="../static-front-end/mapBoxExample.html"> map box example</a>
<a href="../static-front-end/index.html"> index</a>
>>>>>>> Stashed changes
